.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
  gap: 16px;
  padding: 32px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;

  filter: grayscale(100%);
  transition: all 0.3s;

  &:hover {
    filter: grayscale(0%);
  }
}
